@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

:root {
    --blue-color: #96dfff ;
}

body{
    width: 100%;
    height: auto;
}

header{
    display: flex;
    background-color: var(--blue-color);
    margin-top: -1em;
    margin-left: -10px;
    margin-right: -10px;
  
}

div{
    display: block;
}

section{
    margin-top: 50px;
    border-bottom: 2px solid gray;
    border-top: 2px solid gray;
    height: 50px;
    margin-block-start: 2em;
    margin-inline-start: -9px;
    margin-inline-end: -9px;
}

.title{
    margin-left: 30px;
    font-family: 'TheJamsil5Bold';
}
 
.title2{
    display: flex;
    background-color: white;
    border-radius: 50px;
    height: 47px;
    margin-top: 18px;
    padding-left: 45px;
    font-family: 'TheJamsil5Bold';
    font-size: medium;
    align-items: center;
    position: absolute;
    right: 0;
    padding-right: 25px;
}

.menu{
    display: flex;
    font-family: 'TheJamsil5Bold';
    padding-inline-start: 25%;
}
.choice{
    border-style: none;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    height: 50px;
    width: 200px;
    text-align: center;
    font-weight: bold;
    font-family: 'TheJamsil5Bold';
    font-size: medium;
}
.user{
    text-decoration: none;
    color: black;
    width: 200px;
    border-left: 2px solid gray;
    text-align: center;
    padding-top: 14px;
    font-size: medium;
}

.line{
    margin-top: 40px;
    border-top: 2px solid gray;
    margin-inline-start: -9px;
    margin-inline-end: -9px;
}

.tagline{
    text-decoration: none;
    color: gray;
    margin-left: 250px;
    font-family: 'TheJamsil5Bold';
    text-align: center;
    padding-left: 7%;
}
.tag{
    margin-top: 10px;
}

img{
    padding-left: 20%;
    width: 60%;
    padding-top: 2%;
}

.mainfirst{
    margin-top: 40px;
    border: 5px solid skyblue;
    border-radius: 50px;
    width: 80%;
    margin-left: 10%;
    height: auto;
}

.kakao{
    font-family: 'TheJamsil5Bold';
    background-color: var(--blue-color);
    border-radius: 50px;
    width: 10%;
    height: 40px;
    text-align: center;
    padding-top: 14px;
}
table, td{
    width: 50%;
    height: 30px;
    border: 2px solid black;
    border-collapse: collapse;
    font-family: 'TheJamsil5Bold';
    margin-left: 25%;
}

th, td{
    padding: 15px;
}

